---
import { client } from "../../lib/prismicio";
import { asText, asHTML } from "@prismicio/helpers";
import Logo from "../../components/Logo.astro";
import Layout from "../../layouts/Layout.astro";
import DescripcionProyecto from "../../components/DescripcionProyecto.astro";
import Nav from "../../components/Nav.astro";
import VideoProyecto from "../../components/VideoProyecto.astro";

export async function getStaticPaths() {
  const proyectos = await client.getAllByType("proyecto");
  return proyectos.map((proyecto) => ({
    params: { slug: proyecto.uid },
    props: { page: proyecto },
  }));
}

const { page } = Astro.props;
---

<Layout
  tittle={asText(page.data.titulo)}
  description={asText(page.data.descripcion)}
>
  <head>
    <title>{asText(page.data.titulo)}</title>
    <meta name="description" content={asText(page.data.descripcion)} />
  </head>

  <main
    class="text-center bg-black text-white snap-y snap-mandatory relative w-full h-screen overflow-auto"
  >

  <div class="video-autohide">

    <Nav />

  </div>
  
    <!-- Secci칩n de video que aparece al cargar la p치gina -->
    <div class="snap-center">
      <VideoProyecto
        videoUrl={page.data.enlace.url}
        titulo={page.data.titulo}
        fecha={page.data.fecha}
        uid={page.uid}
      />
    </div>

    <!-- Secci칩n de descripci칩n que aparece al hacer scroll -->
    <div class="snap-center">
      <DescripcionProyecto descripcion={page.data.descripcion} />
    </div>

    <!-- Logo fijo -->
    <div
      class="video-autohide fixed bottom-5 left-1/2 transform -translate-x-1/2 w-80 text-white text-center z-[9999] p-4 pointer-events-none"
      transition:name="logo"
    >
      <Logo />
    </div>
  </main>
</Layout>
